<?xml version="1.0" encoding="UTF8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Etag" value="123"/>
                <add name="Cache-Control" value="no-cache"/>
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="angular routes" stopProcessing="true">
                    <match url=".*"/>
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"></add>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"></add>
                    </conditions>
                    <action type="Rewrite" url="/myapp/"></action>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>